# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
dist (ng bulid)/vendor.bundle.js.map
dist (ng bulid)/vendor.bundle.js
dist (ng bulid)/styles.bundle.js.map
dist (ng bulid)/styles.bundle.js
dist (ng bulid)/polyfills.bundle.js.map
dist (ng bulid)/polyfills.bundle.js
dist (ng bulid)/main.bundle.js.map
dist (ng bulid)/main.bundle.js
dist (ng bulid)/inline.bundle.js.map
dist (ng bulid)/inline.bundle.js
dist (ng bulid)/index.html
dist (ng bulid)/glyphicons-halflings-regular.fa2772327f55d8198301.woff
dist (ng bulid)/glyphicons-halflings-regular.f4769f9bdb7466be6508.eot
dist (ng bulid)/glyphicons-halflings-regular.e18bbf611f2a2e43afc0.ttf
dist (ng bulid)/glyphicons-halflings-regular.89889688147bd7575d63.svg
dist (ng bulid)/glyphicons-halflings-regular.448c34a56d699c29117a.woff2
dist (ng bulid)/favicon.ico
