<div class="row">
  <div class="col-xs-12">
    <h4>Cálculo del valor de la cuota</h4>
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="value">Valor de la compra</label>
          <input
            type="number"
            id="value"
            class="form-control"
            #valueInput>
        </div>
        <div class="col-sm-5 form-group">
          <label for="fee">Número de cuotas</label><br>
          <select class="form-control">
                <option *ngFor="let rate of ( rates | sort)" value={{rate.rate}}>{{rate.fee}} ({{rate.rate}}% Mes vencido)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Calcular</button>
          <!-- <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button> -->
        </div>
      </div>
    </form>
  </div>
</div>