<div class="row">
  <div class="col-xs-12">
    <h4>Ajustes de cuotas</h4>
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="fee">Cuota</label>
          <input
            type="number"
            id="fee"
            class="form-control"
            #feeInput>
        </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Interés</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAddRate()">Agregar</button>
          <!-- <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button> -->
        </div>
      </div>
    </form>
  </div>
</div>